{% extends "base.html" %}

{% block content %}
   <h1 class="title">
    Student

</h1>
{% endblock %}
{% block list_block %}

    <form method="post" class="post-form" action="/student/">
        {% csrf_token %}
        <div class="container">
    <br>
        <div class="form-group">
            <label class="label-g"></label>
            <div class="col">
                <h3>Enter Details</h3>
            </div>
        </div>

            <div class="form-group">
            <label class="label-g">First Name</label>
            <div class="col">

                {{ form.f_name }}
            </div>
        </div>

        <div class="form-group">
            <label class="label-g">Last Name</label>
            <div class="col">

                {{ form.l_name }}
            </div>
        </div>

        <div class="form-group">
            <label class="label-g">Student Email</label>
            <div class="col">

                {{ form.email }}
            </div>
        </div>

        <div class="form-group">
            <label class="label-g"></label>
            <div class="col">
            <button type="submit" class="button">Submit</button>
            </div>
        </div>

        </div>
    </form>

{% endblock list_block %}